{# templates/pages/auth/login.html.twig #}
{% extends 'public/base.html.twig' %}

{% block title %}Login - Qrowd Crowdfunding Platform{% endblock %}

{% block content %}
    {# Page Header #}
    {% include 'public/components/page-header.html.twig' with {
        title: 'Login',
        breadcrumbs: [
            {label: 'Home', path: 'landing.home'},
            {label: 'Login', path: null}
        ]
    } %}

    <section class="login-register">
        <div class="container">
            <div class="login-register__warning">
                <p>Demo accounts:</p>
                <div><strong>Admin</strong>: <span>admin@example.com</span> / <span>admin123</span></div>
                <div><strong>User</strong>: <span>user@example.com</span> / <span>user123</span></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h3 class="login-register__title">Login</h3>
                    <form class="login-register__form" action="{{ path('app.login') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Username or Email Address*" name="_username" value="{{ last_username }}" required>
                        </div>
                        <div class="contact-form__input-box">
                            <input type="password" placeholder="Password*" name="_password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="login-register__checkbox">
                            <input type="checkbox" id="login-register__password" name="_remember_me">
                            <label for="login-register__password">Remember Me?</label>
                        </div>
                        <div class="login-register__info">
                            <button type="submit" class="thm-btn login-register__btn">Login</button>
                            <div class="login-register__text">
                                <a href="{{ path('app.register') }}">Don't have an account? Register</a><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
