{# templates/pages/auth/register.html.twig #}
{% extends 'public/base.html.twig' %}

{% block title %}Register - Qrowd Crowdfunding Platform{% endblock %}

{% block content %}
    {# Page Header #}
    {% include 'public/components/page-header.html.twig' with {
        title: 'Register',
        breadcrumbs: [
            {label: 'Home', path: 'landing.home'},
            {label: 'Register', path: null}
        ]
    } %}

    <section class="login-register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    {% include 'public/components/flash-messages.html.twig' %}
                    <h3 class="login-register__title">Create New Account</h3>
                    {{ form_start(form, {'attr': {'class': 'login-register__form'}}) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.confirmPassword) }}
                        
                        <div class="login-register__checkbox">
                            {{ form_widget(form.agreeTerms, {'id': 'login-register__policy'}) }}
                            <label for="login-register__policy">
                                I accept the <a href="#"> Terms of Service </a> &nbsp;and <a href="#"> Privacy Policy </a>
                            </label>
                            {{ form_errors(form.agreeTerms) }}
                        </div>
                        
                        <div class="login-register__info">
                            <button type="submit" class="thm-btn login-register__btn">Register</button>
                            <div class="login-register__text">
                                <a href="{{ path('app.login') }}">Already have an account? Login</a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
