<div class="item">
    <div class="testimonial-two__single">
        <div class="testimonial-two__client-info">
            <div class="testimonial-two__client-img">
                <img src="{{ asset('landing/images/testimonial/' ~ testimonial.image) }}" alt="{{ testimonial.name }}">
            </div>
            <div class="testimonial-two__client-content">
                <h4 class="testimonial-two__client-name">{{ testimonial.name }}</h4>
                <p class="testimonial-two__client-sub-title">{{ testimonial.position }}</p>
            </div>
        </div>
        <p class="testimonial-two__text-2">{{ testimonial.text }}</p>
        <div class="testimonial-two__quote">
            <span class="icon-quotes"></span>
        </div>
        <div class="testimonial-two__rating">
            {% for i in 1..testimonial.rating %}
                <i class="fa fa-star"></i>
            {% endfor %}
        </div>
    </div>
</div>