<div class="flex flex-center justify-between shrink-0 ps-4 pe-3.5 mb-3.5" id="sidebar_footer">
    <div class="menu" data-menu="true">
        <div class="menu-item" data-menu-item-offset="-10px, 15px" data-menu-item-placement="right-end"
             data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
            <div class="menu-toggle btn btn-icon rounded-full justify-start">
                <div class="flex flex-center justify-start gap-2">
                    <img alt="" class="size-8 rounded-full justify-center border border-gray-500 shrink-0"
                         src="{{ asset('images/avatar/blank.png') }}" />
                    <div class="flex items-start justify-center flex-col gap-1">
                        <span class="text-xs text-gray-600 font-medium leading-none">
                            {{ app.user.fullName }}
                        </span>
                        <span class="text-xs text-gray-600 font-medium leading-none">
                            {{ app.user.email }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="menu-dropdown menu-default light:border-gray-300 w-screen max-w-[250px]">
                <div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
                    <div class="flex items-center gap-2">
                        <img alt="" class="size-9 rounded-full border-2 border-success"
                             src="{{ asset('images/avatar/blank.png') }}">
                        <div class="flex flex-col gap-1.5">
							<span class="text-sm text-gray-800 font-semibold leading-none">
								{{ app.user.fullName }}
							</span>
                            <a class="text-xs text-gray-600 hover:text-primary font-medium leading-none" href="#">
                                {{ app.user.email }}
                            </a>
                        </div>
                        </img>
                    </div>
                </div>
                <div class="menu-separator"></div>

                {# User Menu #}
                {% include 'user/partials/sidebar/user-menu.html.twig' %}
            </div>
        </div>
    </div>
    <a class="btn btn-icon btn-icon-lg size-8 hover:bg-light hover:text-primary text-gray-600"
       href="{{ path('app.logout') }}">
        <i class="ki-filled ki-exit-right"></i>
    </a></div></div>
