{# templates/components/events/event-sidebar.html.twig #}
<div class="event-details__sidebar">
    <div class="event-details__details-box">
        <h5 class="event-details__details-box-title">Event Details</h5>
        <ul class="list-unstyled event-details__details-box-list">
            {% if event.details.endDate %}
                <li class="d-flex align-items-start">
                    <div class="left" style="flex: 0 0 100px"><p class="m-0">Duration:</p></div>
                    <div class="right w-100"><p class="m-0 text-end">{{ event.details.startDate|date('d M') }} - {{ event.details.endDate|date('d M, Y') }}</p></div>
                </li>
            {% else %}
                <li class="d-flex align-items-start">
                    <div class="left" style="flex: 0 0 100px"><p class="m-0">Date:</p></div>
                    <div class="right w-100"><p class="m-0 text-end">{{ event.details.startDate|date('d M, Y') }}</p></div>
                </li>
            {% endif %}
            <li class="d-flex align-items-start">
                <div class="left" style="flex: 0 0 100px"><p class="m-0">Time:</p></div>
                <div class="right w-100">
                    <p class="m-0 text-end">{{ event.details.startTime|date('g:i A') }}
                    {%- if event.details.endTime -%}
                        - {{ event.details.endTime|date('g:i A') }}
                    {%- endif -%}</p>
                </div>
            </li>
            <li class="d-flex align-items-start">
                <div class="left" style="flex: 0 0 100px"><p class="m-0">Category:</p></div>
                <div class="right w-100">
                    <p class="m-0 text-end"><i class="{{ event.category.icon }}"></i> {{ event.category.name }}</p>
                </div>
            </li>
            <li class="d-flex align-items-start">
                <div class="left" style="flex: 0 0 100px"><p class="m-0">Contact:</p></div>
                <div class="right w-100">
                    <p class="m-0 text-end"><a href="tel:{{ event.details.phone }}">{{ event.details.phone }}</a></p>
                </div>
            </li>
            <li class="d-flex align-items-start">
                <div class="left" style="flex: 0 0 100px"><p class="m-0">Email:</p></div>
                <div class="right w-100">
                    <p class="m-0 text-end"><a href="mailto:{{ event.details.email }}">{{ event.details.email }}</a></p>
                </div>
            </li>
            <li class="d-flex align-items-start">
                <div class="left" style="flex: 0 0 100px"><p class="m-0">Venue:</p></div>
                <div class="right w-100">
                    <p class="m-0 text-end">{{ event.details.location }}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="event-details__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                class="event-details__map-one" allowfullscreen></iframe>
    </div>
</div>
