{# templates/components/events/event-card.html.twig #}
<div class="events-page__single">
    <div class="events-page__img">
        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}">
        <div class="events-page__date">
            {% if event.details.endDate and event.details.startDate|date('m Y') == event.details.endDate|date('m Y') %}
                <p>{{ event.details.startDate|date('d') }} - {{ event.details.endDate|date('d M, Y') }}</p>
            {% else %}
                <p>{{ event.details.startDate|date('d M, Y') }}</p>
            {% endif %}
        </div>
    </div>
    <div class="events-page__content d-flex flex-column">
        <ul class="list-unstyled events-page__meta">
            <li>
                <i class="fas fa-clock"></i>
                {{ event.details.startTime|date('g:i A') }}
                {%- if event.details.endTime -%}
                    - {{ event.details.endTime|date('g:i A') }}
                {%- endif -%}
            </li>
            <li><i class="fas fa-map-marker-alt"></i>{{ event.details.location }}</li>
        </ul>
        <h3 class="events-page__title mt-2 flex-grow-1">
            <a href="{{ path('landing.events.details', {slug: event.slug}) }}">{{ event.title }}</a>
        </h3>
        <div class="events-page__read-more mt-auto">
            <a href="{{ path('landing.events.details', {slug: event.slug}) }}">
                <span class="icon-right-arrow"></span> Read more
            </a>
        </div>
    </div>
</div>
