<div class="card">
    <div class="card-header border-b">
        <h3 class="card-title">Liste des projets</h3>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Utilisateur</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">KYC</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type de compte</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {% for item in pagination %}
                <tr class="hover:bg-gray-50 transition-colors">
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center gap-2.5">
                            <img alt="" class="h-9 rounded-full" style="max-height: 50px" src="{{ asset('landing/images/team/team-1-1.jpg') }}"/>
                            <div class="flex flex-col gap-0.5">
                                <a class="leading-none font-semibold text-sm text-gray-900 hover:text-primary" href="#">
                                    {{ item.fullname|default('') }}
                                </a>
                                <span class="text-2sm text-gray-600">
                                    {{ item.countDonations|default(0) }} Donations
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <span class="badge {{ item.isKycVerified ? 'badge-success' : 'badge-warning' }}">{{ item.isKycVerified ? 'Verified' : 'Pending' }}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {{ item.accountTypeLabel|default('') }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center gap-2">
                            <a href="#"
                               class="btn btn-sm btn-light-primary">
                                <i class="ki-duotone ki-pencil text-primary"></i>
                                Modifier
                            </a>
                            <a href="#"
                               class="btn btn-sm btn-light-danger">
                                <i class="ki-duotone ki-trash text-danger"></i>
                                Supprimer
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="px-6 py-4 text-center text-sm text-gray-500">
                        Aucune activité récente
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
