<section class="news-one">
	<div class="news-one__bg-color"></div>
	<div
		class="container">
		{# Section Header #}
		<div class="section-title text-center">
			<span class="section-title__tagline">Directement du Blog</span>
			<h2 class="section-title__title">Découvrez nos Dernières
				<br>
				Actualités</h2>
		</div>

		{# News Grid #}
		<div class="row">
			{% for article in articles %}
				<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="{{ loop.index * 100 }}ms">
					<div
						class="news-one__single">
						{# Article Image #}
						<div class="news-one__img-box">
							<div class="news-one__img">
								{% if article.image %}
									<img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}">
								{% endif %}
								<a href="{{ path('landing.news.details', {slug: article.slug}) }}">

									<span class="news-one__plus"></span>
								</a>
							</div>
							<div class="news-one__date">
								<p>{{ article.createdAt|date('d') }}</p>
								<span>{{ article.createdAt|date('F')|lower }}</span>
							</div>
						</div>

						{# Article Content #}
						<div class="news-one__content">
							<ul class="news-one__meta list-unstyled">
								<li>
									<a href="#">
										<i class="fas fa-user-circle"></i>par
										{{ article.author }}
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-comments"></i>
										{{ article.commentsCount }}
										Commentaires
									</a>
								</li>
							</ul>
							<h3 class="news-one__title">
								<a href="{{ path('landing.news.details', {slug: article.slug}) }}">

									{{ article.title }}
								</a>
							</h3>
							<div class="news-one__bottom">
								<div class="news-one__button">
									<a href="{{ path('landing.news.details', {slug: article.slug}) }}">Lire la suite</a>
								</div>
								<div class="news-one__arrow">
									<a href="{{ path('landing.news.details', {slug: article.slug}) }}">

										<span class="icon-right-arrow"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
