{# templates/components/project-card.html.twig #}
<div class="project-one__single">
	<div class="project-one__img-box">
		<div class="project-one__img">
			{% if service.image and service.image != ' ' %}
				<img src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="{{ service.title }}">
			{% else %}
				<img src="{{ asset('landing/images/project/ab.jpeg') }}" alt="">
			{% endif %}
		</div>
		<div class="project-one__icon">
			<i class="far fa-heart"></i>
		</div>
	</div>
	<div class="project-one__content">
		{#<div class="project-one__tag">
			<p>{{ project.category.name }}</p>
		</div>#}
		<h3 class="project-one__title">
			<a href="">{{ service.title }}</a>
		</h3>
	</div>
</div>
