{# templates/components/project-details/creator.html.twig #}
<div class="project-details-top__person">
	<div class="project-details-top__person-img">
		{% if project.creator.avatar %}
			<img src="{{ vich_uploader_asset(project.creator, 'avatarFile') }}" alt="{{ project.creator.fullName }}">
		{% else %}
			<img src="{{ asset('landing/images/project/project-details-top-person-img-1.jpg') }}" alt="{{ project.creator.fullName }}">
		{% endif %}
	</div>
	<div class="project-details-top__person-content">
		<h5>
			<span>par</span>
			{{ project.creator.name }}</h5>
		<p>{{ project.creator.projects|length }}
			Campagnes /
			{{ project.creator.backedProjects|default(0) }}
			Soutenus</p>
	</div>
</div>
<ul class="list-unstyled project-details-top__money">
	<li>$10</li>
	<li>$20</li>
	<li>$30</li>
</ul>
<div class="project-details-top__quantity-btn-social">
	<div class="quantity-box">
		<button type="button" class="sub">
			<i class="fa fa-minus"></i>
		</button>
		<input type="number" id="1" value="00"/>
		<button type="button" class="add">
			<i class="fa fa-plus"></i>
		</button>
	</div>
	<div class="project-details-top__btn-box">
		<a href="{{ path('landing.projects.details', {slug: project.slug}) }}" class="thm-btn project-details-top__btn">Soutenir ce Projet</a>
	</div>
	<div class="project-details-top__social">
		<a href="#">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="#">
			<i class="fab fa-facebook"></i>
		</a>
		<a href="#">
			<i class="fab fa-pinterest-p"></i>
		</a>
		<a href="#">
			<i class="fab fa-instagram"></i>
		</a>
	</div>
</div>
