{# templates/components/project-details/story-content.html.twig #}
<ul class="list-unstyled project-details__tab-box-story-points">
    {% for point in project.story.keyPoints %} 
        <li>
            <div class="icon">
                <span class="fa fa-check"></span>
            </div>
            <div class="text">
                <p>{{ point }}</p>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="project-details__tab-box-story-img-box-one">
    <div class="row">
        {# <div class="col-xl-6"> #}
            <div class="project-details__tab-box-story-img-one-single">
                <img src="{{ vich_uploader_asset(project.story, 'mainImageFile') }}" alt="Project Story Main Image">
            </div>
        {# </div> #}
    </div>
</div>

<p class="project-details__tab-box-story-text-2">
    {{ project.story.paragraphs[0] }}
</p>

<div class="project-details__tab-box-story-img-two">
    <img src="{{ vich_uploader_asset(project.story, 'secondaryImageFile') }}" alt="Project Story Secondary Image">
    <p class="project-details__tab-box-story-text-3">
        {{ project.story.paragraphs[1] }}
    </p>
</div>
