<div class="card">
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Image</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Titre</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {% for item in pagination %}
                <tr class="hover:bg-gray-50 transition-colors">
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <img src="{{ vich_uploader_asset(item, 'imageFile') }}"
                                 alt="{{ item.title }}"
                                 class="w-[75px] h-full object-cover rounded-xl" style="width: 75px; height: 75px;">
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div class="text-sm text-gray-900">{{ item.title }}</div>
                    </td>
                    <td class="px-6 py-4">
                        <span class="badge badge-{{ item.isActive ? "success" : "warning" }}">{{ item.isActive ? "Active" : "Inactive" }}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center gap-2">
                            <a href="{{ path('app.admin.project.detail', {id: item.id}) }}"
                               class="btn btn-sm btn-light-primary">
                                <i class="ki-duotone ki-pencil text-primary"></i>
                                Modifier
                            </a>
                            <a href="{{ path('app.admin.project.delete', {id: item.id}) }}"
                               class="btn btn-sm btn-light-danger">
                                <i class="ki-duotone ki-trash text-danger"></i>
                                Supprimer
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="px-6 py-4 text-center text-sm text-gray-500">
                        Aucun slides disponibles
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'admin/components/pagination.html.twig' with {
            'paginationData': pagination.getPaginationData
        } %}
    </div>
</div>
