{% import "admin/components/menu-item.html.twig" as menuItem %}

<div {{ attributes }}>
	<div
		class="menu flex flex-col w-full gap-1.5 px-3.5" data-menu="true" data-menu-accordion-expand-all="false" id="sidebar_primary_menu">
		{# Dashboard #}
		{{ menuItem.render({
            label: 'Tableau de bord',
            icon: 'ki-duotone ki-element-11',
            route: 'app.admin.dashboard'
        }) }}

		{{ menuItem.render({
            label: 'Projets',
            icon: 'ki-duotone ki-abstract-26',
			route: 'app.admin.project.index'
        }) }}

		{{ menuItem.render({
            label: 'Retrait',
            icon: 'ki-duotone ki-euro',
			routes: ['app.admin.withdrawal.request', 'app.admin.withdrawal.charge'],
			submenu: [
				{
					label: 'Demande',
					route: 'app.admin.withdrawal.request',
					badge: {
						text: withdrawalPendingAmount|format_currency('EUR'),
						class: 'badge-warning'
					}
				},
				{
					label: 'Frais',
					route: 'app.admin.withdrawal.charge',
				}
			]
        }) }}

		{{ menuItem.render({
            label: 'Utilisateurs',
            icon: 'ki-duotone ki-users',
			route: 'app.admin.user.index'
        }) }}

		{{ menuItem.render({
            label: 'Paramètres',
            icon: 'ki-duotone ki-setting-2',
			routes: ['app.admin.setting.general','app.admin.setting.slide','app.admin.setting.slide.update','app.admin.setting.slide.create','app.admin.setting.faq','app.admin.setting.faq.update','app.admin.setting.faq.create',],
			submenu: [
				{
					label: 'General',
					route: 'app.admin.setting.general',
				},
				{
					label: 'Slide',
					route: 'app.admin.setting.slide',
					routes: ['app.admin.setting.slide','app.admin.setting.slide.update','app.admin.setting.slide.create']
				},
				{
					label: 'Faq',
					route: 'app.admin.setting.faq',
					routes: ['app.admin.setting.faq','app.admin.setting.faq.update','app.admin.setting.faq.create']

				}
			]
        }) }}
	</div>
</div>
