<footer class="site-footer">
    {# Footer Top Section #}
    <div class="site-footer__top">
        <div class="site-footer__shape-1 float-bob-x">
            <img src="{{ asset('landing/images/shapes/site-footer-shape-1.png') }}" alt="">
        </div>
        <div class="container">
            <div class="row">
                {# About Widget #}
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="{{ path('landing.home') }}">
                                <img src="{{ asset('landing/images/resources/footer-logo.png') }}" alt="">
                            </a>
                        </div>
                        <div class="footer-widget__about-text-box">
                            <p class="footer-widget__about-text">
                                Lorem quas utamur delicata qui, vix ei prima mentitum omnesque. Duo corrumpit cotidieque ne.
                            </p>
                        </div>
                        <form class="footer-widget__subscribe-box">
                            <div class="footer-widget__subscribe-input-box">
                                <input type="email" placeholder="Email address" name="email">
                                <button type="submit" class="footer-widget__subscribe-btn">
                                    <img src="{{ asset('landing/images/icon/paper-plan.png') }}" alt="">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {# Explore Widget #}
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__Explore">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Explore</h3>
                        </div>
                        <ul class="footer-widget__Explore-list list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Knowledge Hub</a></li>
                            <li><a href="#">Success Stories</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                {# Fundraising Widget #}
                <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__Fundraising">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Fundraising</h3>
                        </div>
                        <ul class="footer-widget__Explore-list list-unstyled">
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Education</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Games</a></li>
                            <li><a href="#">Film & Video</a></li>
                        </ul>
                    </div>
                </div>

                {# Contact Widget #}
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__Contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Contact</h3>
                        </div>
                        <ul class="footer-widget__Contact-list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-telephone"></span>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+9288006780">+92 ( 8800 ) - 6780</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-email"></span>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-pin"></span>
                                </div>
                                <div class="text">
                                    <p>30 broklyn golden street line. New York</p>
                                </div>
                            </li>
                        </ul>
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Footer Bottom Section #}
    <div class="site-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© Copyright {{ "now"|date("Y") }} by <a href="#">Qrowd.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
