<li class="{{ app.request.get('_route') starts with 'landing.home' ? 'current' : 'link' }}">
    <a href="{{ path('landing.home') }}">Home</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.about' ? 'current' : 'link' }}">
    <a href="{{ path('landing.about') }}">About</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.projects' ? 'current' : 'link' }}">
    <a href="{{ path('landing.projects.index') }}">Projects</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.events' ? 'current' : 'link' }}">
    <a href="{{ path('landing.events.index') }}">Events</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.news' ? 'current dropdown' : 'dropdown' }}">
    <a href="#">News</a>
    <ul class="shadow-box">
        <li class="{{ app.request.get('_route') == 'landing.news.index' ? 'current' : '' }}">
            <a href="{{ path('landing.news.index') }}">News</a>
        </li>
        <li class="{{ app.request.get('_route') == 'landing.news.sidebar' ? 'current' : '' }}">
            <a href="{{ path('landing.news.sidebar') }}">News Sidebar</a>
        </li>
        {# Add other page links #}
    </ul>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.faq' ? 'current' : 'link' }}">
    <a href="{{ path('landing.faq') }}">FAQs</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.contact' ? 'current' : 'link' }}">
    <a href="{{ path('landing.contact') }}">Contact</a>
</li>