<li class="{{ app.request.get('_route') starts with 'landing.home' ? 'current' : 'link' }}">
    <a href="{{ path('landing.home') }}">Accueil</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.about' ? 'current' : 'link' }}">
    <a href="{{ path('landing.about') }}">À Propos</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.projects' ? 'current' : 'link' }}">
    <a href="{{ path('landing.projects.index') }}">Projets</a>
</li>

{#<li class="{{ app.request.get('_route') starts with 'landing.events' ? 'current' : 'link' }}">
    <a href="{{ path('landing.events.index') }}">Événements</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.news' ? 'current' : 'link' }}">
    <a href="{{ path('landing.news.index') }}">Actualités</a>
</li>#}

<li class="{{ app.request.get('_route') starts with 'landing.faq' ? 'current' : 'link' }}">
    <a href="{{ path('landing.faq') }}">FAQ</a>
</li>

<li class="{{ app.request.get('_route') starts with 'landing.contact' ? 'current' : 'link' }}">
    <a href="{{ path('landing.contact') }}">Contact</a>
</li>