{# templates/components/contact/address.html.twig #}
<section class="address">
	<div class="container">
		<div class="row row-cols-1 row-cols-lg-3 g-4 justify-content-center">
			{% for item in addresses %}
				<!--Address Single Start-->
				<div class="col">
					<div class="address__single h-100">
						<div class="address__title-box">
							<h4 class="address__title">{{ item.title }}</h4>
							<div class="address__icon">
								<span class="{{ item.icon }}"></span>
							</div>
						</div>
						{% if item.title == 'Contact' %}
							<p class="address__text mt-4">
								<a href="tel:{{ item.content.phone|replace({' ': ''}) }}" class="address__number">{{ item.content.phone }}</a>
								<a href="mailto:{{ item.content.email1 }}" class="address__email">{{ item.content.email1 }}</a>
							</p>
						{% else %}
							<p class="address__text mt-4">{{ item.content|raw }}</p>

						{% endif %}
					</div>
				</div>
				<!--Address Single End-->
			{% endfor %}
		</div>
	</div>
</section>
