<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Abeille Solidaire{% endblock %}</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    {% block stylesheets %}
        <!-- favicons Icons -->
        <link rel="apple-touch-icon" sizes="180x180"
              href="{{ asset('landing/images/favicons/apple-touch-icon.png') }}"/>
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ asset('landing/images/favicons/favicon-32x32.png') }}"/>
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ asset('landing/images/favicons/favicon-16x16.png') }}"/>
        <link rel="manifest" href="{{ asset('landing/images/favicons/site.webmanifest') }}"/>

        <!-- All CSS files -->
        <link rel="stylesheet" href="{{ asset('landing/vendors/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/animate/animate.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/animate/custom-animate.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/fontawesome/css/all.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/jarallax/jarallax.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/jquery-magnific-popup/jquery.magnific-popup.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/nouislider/nouislider.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/nouislider/nouislider.pips.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/odometer/odometer.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/swiper/swiper.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/qrowd-icons/style.css') }}">
        <link rel="stylesheet" href="{{ asset('landing/vendors/tiny-slider/tiny-slider.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/reey-font/stylesheet.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/owl-carousel/owl.carousel.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/vendors/owl-carousel/owl.theme.default.min.css') }}"/>
{#        <link rel="stylesheet" href="{{ asset('landing/vendors/bxslider/jquery.bxslider.css') }}"/>#}
        <link rel="stylesheet" href="{{ asset('landing/vendors/bootstrap-select/css/bootstrap-select.min.css') }}"/>
{#        <link rel="stylesheet" href="{{ asset('landing/vendors/vegas/vegas.min.css') }}"/>#}
        <link rel="stylesheet" href="{{ asset('landing/vendors/jquery-ui/jquery-ui.css') }}"/>
{#        <link rel="stylesheet" href="{{ asset('landing/vendors/timepicker/timePicker.css') }}"/>#}

        <!-- template styles -->
        <link rel="stylesheet" href="{{ asset('landing/css/qrowd.css') }}"/>
        <link rel="stylesheet" href="{{ asset('landing/css/qrowd-responsive.css') }}"/>
        <style>
            .text-right {
                text-align: right;
            }
        </style>
    {% endblock %}
</head>

<body class="custom-cursor">
<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>

<div class="preloader">
    <div class="preloader__image"></div>
</div>

<div class="page-wrapper">
    {% include 'public/layouts/header.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'public/layouts/footer.html.twig' %}
</div>

{% include 'public/layouts/mobile-nav.html.twig' %}
{% include 'public/layouts/search-popup.html.twig' %}

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>

{% block javascripts %}
    <script src="{{ asset('landing/vendors/jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jarallax/jarallax.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jquery-appear/jquery.appear.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jquery-circle-progress/jquery.circle-progress.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jquery-validate/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/nouislider/nouislider.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/odometer/odometer.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/swiper/swiper.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/tiny-slider/tiny-slider.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/wnumb/wNumb.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/wow/wow.js') }}"></script>
    <script src="{{ asset('landing/vendors/isotope/isotope.js') }}"></script>
    <script src="{{ asset('landing/vendors/countdown/countdown.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('landing/vendors/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('landing/vendors/circleType/jquery.circleType.js') }}"></script>
    <script src="{{ asset('landing/vendors/circleType/jquery.lettering.min.js') }}"></script>

    <!-- template js -->
    <script src="{{ asset('landing/js/qrowd.js') }}"></script>
{% endblock %}
</body>
</html>
